/*
  Under link color: #e67213
*/

/*--------------------------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  background-color: #ffffff;
  color: #555555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/*--------------------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------------------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

h1,  
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
h2::after {
  display: block;
  height: 2px;
  background-color: #e67213;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*----------------PARAGRAPHS----------------*/
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

.section-features .long-copy {
  margin-bottom: 30px;
}

/*----------------ICONS----------------*/
.icon-big {
  font-size: 350%;
  display: block;
  color: #e67213;
  margin-bottom: 10px;
}

.icon-small {
  display: inline;
  /* width: 30px; */
  text-align: center;
  color: #e67213;
  font-size: 120%;
  margin-right: 10px;

  /* Secrets to align text and icon */
  line-height: 120%;
  vertical-align: middle;
  /* margin-top: -5px; */
}

/*------------------LINKS-------------------*/
a:link,
a:active {
  color: #e67213;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67213;
  transition: boder-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555555;
  border-bottom: 1px solid transparent;
}

a:link,
a:visited {
  color: #a04d09;
}

/*---------------- BUTTONS----------------*/

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #b8590c;
  border: 1px solid #b8590c;
  color: #ffffff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  /* background-color: #e67213; */
  border: 1px solid #b8590c;
  color: #b8590c;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #e67213;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #e67213;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #e67213;
  color: #ffffff;
}

/*--------------------------------------------------------------------*/
/* HEADER */
/*--------------------------------------------------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  max-width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 8px 0;
}

.logo-black { display: none; }


/*  Main Navigator   */

.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link, 
.main-nav li a:visited {
  padding-top: 2px;
  padding-bottom: 2px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover, 
.main-nav li a:active {
  border-bottom: 2px solid #e67213;
}

/* Sticky Navigator */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8ef;
  box-shadow: 0 2px 2px #c9c9c9;
  z-index: 9999;
}

.sticky .main-nav { margin-top: 23px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 20px 0;
  color: #555555;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }


/*--------------------------------------------------------------------*/
/* FEATURES */
/*--------------------------------------------------------------------*/

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meals-photos {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000000;
}

.meals-photos img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.25);
  transition: transform 0.5s, opacity 0.5s;
}

.meals-photos img:hover {
  transform: scale(1.03);
  opacity: 1;
}

/*--------------------------------------------------------------------*/
/* HOW IT WORKS */
/*--------------------------------------------------------------------*/

.section-steps {
  background-color: #e7e6e6;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 30px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 30px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #e67213;
  border: 2px solid #e67213;
  /* display: inline-block; */
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px
}

.btn-app:link,
.btn-app:visited {
  border-bottom: none;
}

/*--------------------------------------------------------------------*/
/* CITIES */
/*--------------------------------------------------------------------*/

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-features {
  margin-bottom: 5px;
}

/*--------------------------------------------------------------------*/
/* CUSTOMERS TESTIMONIALS */
/*--------------------------------------------------------------------*/

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(img/back-customers.jpg);
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 50px;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  /* font-weight: 400; */
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
}

/*--------------------------------------------------------------------*/
/* PRICE PLANS */
/*--------------------------------------------------------------------*/

.section-plans {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #ffffff;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 5px 5px 5px #e4e3e3;
}

.plan-box div {
  padding: 30px;
  border-bottom: 1px solid #bebebe;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67213;
}

.plan-box div:first-child {
  background-color: #efefef;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price span {
  font-size: 40%;
  font-weight: 300;
}

.plan-price-meals {
  font-size: 80%;
}

.plan-box ul li {
  padding: 5px 0;
}

/*--------------------------------------------------------------------*/
/* FORM */
/*--------------------------------------------------------------------*/

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #a04d09;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin:10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/*--------------------------------------------------------------------*/
/* FOOTER */
/*--------------------------------------------------------------------*/

footer {
  background-color: #333333;
  font-size: 100%;
  padding: 30px;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #9f9f9f;
  transition: color 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #e2e2e2;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-google,
.ion-logo-instagram {
  transition: color 0.3s;
}

.ion-logo-facebook:hover {
  color: #3b5998;
}
.ion-logo-twitter:hover {
  color: #00aced;
}
.ion-logo-google:hover {
  color: #dd4b39;
}
.ion-logo-instagram:hover {
  color: #517fa4;
}

footer p {
  color: #9f9f9f;
  text-align: center;
  padding-top: 30px;
}
